@charset "UTF-8";
/*ホーム画面*/
body {
    margin: 0;
    padding-top: 150px;
    position: relative;
    background:
        linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), /* 白レイヤー（全面） */
        url(IMAGE/IMG_3730.jpg); 
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20px;
    margin: 0;
    z-index: 999;
}
.header_bar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items:center;
    background: #0d6828;
    padding-left: 20px;
    margin: 0;
}
.club_logo {
    height: 40px;
    margin-right: 20px;
}
.header_title {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}
.logo_mbteai {
    display: flex;
    justify-content: center;  /* 横中央 */
    align-items: center;      /* 縦中央 */
    margin: auto;
    width: 50vw;
    height: 30vw;
}
aside {/* サイドバー */
  position: fixed;
  top: 80px;
  right: 0; /* 右側に配置 */
}
#side_bar{
    list-style: none;
}
#side_bar a{
    color: #0d6828;
    display: block;
    margin: 20px 0 20px 0;
}
#side_bar a:hover{
    color: #8e0d0d;
}
#sns{
    list-style: none;
    display: flex;
}
#x{
    margin:0 30px 0 30px;
    width: 100px;
    height: 100px;
}
#instagram{
    margin:0 30px 0 30px;
    width: 100px;
    height: 100px;
}
#radio{
    margin:0 30px 0 30px;
    width: 100px;
    height: 100px;
}
#note{
    margin:0 30px 0 30px;
    width: 100px;
    height: 100px;
}
.botton {
    background: #0d6828;
    margin:0 33.5vw 0 33.5vw;
    width: 33vw;
    height: 120px;
    border-radius: 10px;
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    position: relative;
}
.botton:hover{
    background-color: #f8861c;
}
.space{
    height: 20vw;
}
footer{
    align-items:center;
    background: #0d6828;
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
}
/*診断画面*/
.text{
    background-color: rgba(255,255,255,0.6);
    background-position: relative;
    margin: 0 15vw;
}
#question{
    width: 60vw;
    height: 200px;
    margin: 0 5vw 0 5vw;
    padding-top: 5vw;
    font-size: 50px;
    text-align: center;
}
#oxbtn{
    display: flex;
    margin-left:10vw;
}
#btn_q1{
    background: #8e0d0d;
    width: 20vw;
    height: 100px;
    margin-bottom: 5vw;
    border-radius: 10px;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}
#btn_q1:hover{
    transform: scale(1.1);
}
#btn_q2{
    background: #14419b;
    width: 20vw;
    height: 100px;
    margin-left: 10vw;
    margin-bottom: 5vw;
    border-radius: 10px;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}
#btn_q2:hover{
    transform: scale(1.1);
}
/*結果画面*/
.kekka{
    margin:0 40vw 0 40vw;
    width: 20vw;
    height: 50px;
}
#otyaya_gazou{
    margin:0 40vw 0 40vw;
    width: 20vw;
    height: 200px;
}
.kekka_bun{
    margin:0 40vw 0 40vw;
    width: 20vw;
    height: 30px;
}
#kekka_hyouzi{
    margin:0 40vw 0 40vw;
    width: 20vw;
    height: 160px;
    font-size: 120px;
}
#kekka_setumei{
    margin:0 40vw 0 40vw;
    width: 20vw;
    height: 50px;
}
/*説明画面*/
@media (max-width: 600px){/*スマホ用*/
.botton{
    background: #0d6828;
    margin:0 20vw 0 20vw;
    width: 60vw;
    height: 80px;
    border-radius: 10px;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}
.logo_mbteai {
    display: flex;
    justify-content: center;  /* 横中央 */
    align-items: center;      /* 縦中央 */
    margin: auto;
    width: 400px;
    height: 250px;
}
aside {/* サイドバー */
  position: relative;
}
.space{
    height: 20vh;
}
#sns{
    list-style: none;
    display: flex;
}
#x{
    margin:0 18px 0 18px;
    width: 60px;
    height: 60px;
}
#instagram{
    margin:0 18px 0 18px;
    width: 60px;
    height: 60px;
}
#radio{
    margin:0 18px 0 18px;
    width: 60px;
    height: 60px;
}
#note{
    margin:0 18px 0 18px;
    width: 60px;
    height: 60px;
}
/*診断画面*/
.text{
    background-color: rgba(255,255,255,0.6);
    background-position: relative;
    margin: 0 5vw;
}
#question{
    width: 80vw;
    height: 200px;
    margin: 0 5vw 0 5vw;
    padding-top: 5vw;
    font-size: 30px;
    text-align: center;
}
#oxbtn{
    display: flex;
    flex-direction: column;
}
#btn_q1{
    background: #8e0d0d;
    width: 70vw;
    height: 100px;
    margin: 0 0 5vw 0;
    border-radius: 10px;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}
#btn_q2{
    background: #14419b;
    width: 70vw;
    height: 100px;
    margin: 0 0 5vw 0;
    border-radius: 10px;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}
/*結果画面*/
.kekka{
    margin:0 10vw 0 10vw;
    width: 80vw;
    height: 50px;
    text-align: center;
}
#otyaya_gazou{
    margin:0 10vw 0 10vw;
    width: 80vw;
    height: 200px;
    margin-bottom: 40px;
}
.kekka_bun{
    margin:0 10vw 0 10vw;
    width: 80vw;
    height: 30px;
    text-align: center;
}
#kekka_hyouzi{
    margin:0 20vw 0 20vw;
    width: 60vw;
    height: 160px;
    font-size: 120px;
    text-align: center;
}
#kekka_setumei{
    margin:0 20vw 0 20vw;
    width: 60vw;
    height: 50px;
}
/*説明画面*/
}
